/* Shared CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  background-color: #ffffff;
  padding: 20px 25px;
  max-width: 160px;
  border: none;
  border-radius: 5px;
  color: #005fac;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.custom-width {
  width: 71%;
  min-width: 1141px;
}

/* Non-shared CSS */

#banner {
  width: 1600px;
  height: 808px;
  overflow: hidden;
  background: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
}

#banner-content {
  display: flex;
  flex-direction: column;
  width: 525px;
  align-items: flex-end;
  margin: 216px 230px 364px 845px;
  text-align: right;
}

#banner h1 {
  color: #ffffff;
  width: 525px;
  height: 228px;
  font-size: 65px;
  margin-bottom: 24px;
}

#banner p {
  color: #ffffff;
  width: 494px;
  height: 78px;
  line-height: 26px;
  margin-bottom: 32px;
}

#failures {
  width: 67%;
  max-width: 1072px;
  display: flex;
  gap: 87px;
  align-items: center;
  text-align: left;
  margin: 131px 322px 130px 206px;
  overflow: hidden;
}

#failures-container {
  margin: 239px 0px 84px;
}

#failures-container h1 {
  width: 288px;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
}

#failures-container p {
  width: 416px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 16px;
}

#failures-container ul {
  width: 350px;
  height: 162px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  line-height: 26px;
  color: #444343;
  margin-bottom: 16px;
}

#failures-container i {
  color: #16d887;
}

#plans {
  margin: 0 auto 130px;
  text-align: center;
}

#plans h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

#plans-container {
  display: flex;
  gap: 86px;
}

.plan-card img {
  width: 92px;
  margin-bottom: 24px;
}

.plan-card h2 {
  font-size: 30px;
  margin-bottom: 16px;
}

.plan-card p {
  font-size: 25px;
  color: #737272;
}

footer {
  color: #ffffff;

  height: 300px;
  margin: 0 auto 130px;
  background: url("../images/gradient1.png"), url("../images/watch.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#footer-content {
  width: 460px;
  margin-left: 64px;
  margin-top: 59px;
  margin-bottom: 59px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
