* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  background-color: #ffffff;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
  color: #005fac;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

#banner {
  width: 1600px;
  min-height: 808px;
  overflow: hidden;
  background: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
}

#banner-content {
  display: flex;
  flex-direction: column;
  width: 525px;
  align-items: flex-end;
  margin: 216px 230px 364px 845px;
  text-align: right;
}

#banner h1 {
  color: #ffffff;
  width: 525px;
  height: 228px;
  font-size: 65px;
  margin-bottom: 24px;
}

#banner p {
  color: #ffffff;
  width: 494px;
  height: 78px;
  line-height: 26px;
  margin-bottom: 32px;
}
